!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link(href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css')
    %title NOVEL
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %h1= link_to 'NOVEL', root_path
    = yield
