!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link(href='https://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css')
    %link(href='https://fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css')
    %title CERAMIC NATION
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %h1= link_to 'CERAMIC NATION', root_path
      %h3 A novel-in-progress by Ellis Champlin; one(ish) chapter a day.
    = yield
    %footer
      created by
      = link_to '@jwworth', 'http://twitter.com/jwworth'
